.review-section {
    width: 272px;
    height: 110px;
    margin-top: 17px;
    margin-left: 23px;
}

.review-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.review-content {
    margin-right: 23px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-review {
    margin-bottom: 7px;
}

.image-review {
    background-color: transparent;
    border: none;
}

.image-review:hover{
    cursor: pointer;
    color: #785028;
    border: none;
}

.review-username {
    margin-left: 7px;
}

button.image-review > div {

}