.product-card {
    position: relative;
}
.product-index-main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.product-index-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}


.product-card-main {
    padding: 0 10px;
}

.product-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 504px;
}

.img-main {
    display: flex;
    height: 80%;
    width: 100%;
}

.img-dropdown-btn {
    width: 32px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 25px;
    color: #785028;
    border-radius: 15px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
}

.img-dropdown-btn:hover {
    border: 1px solid #785028;
}

.img-dropdown-indexpage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heart-icon-index {
    width: 20px;
    height: 20px;
}

.active > svg{
    fill: rgb(120, 80, 40);
    /* color: #785028; */
}

.product-index-description-container {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68%;
    padding: 16px;
    color: #6c6c6c;
}

.product-index-description {
    height: 20%;
    width: 100%;
    background-color: white;
}

.product-card-link {
    text-decoration: none;
}