.email-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: #2c2c2c;
  height: 20px;
  width: 50%;
}

.email-input:focus {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}