.navigation-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: white;
    /* margin-bottom: 50px; */
}

.main-links {
    display: flex;
}

.browse-link{
    padding-left: 35px;
}

.browse-link-icon{
    color: #785028;
}

.browse-link-icon:link {
    text-decoration: none;
}

.search-link{
    padding-left: 25px;
}

.search-link-icon {
    color: #785028;
}

.search-link-icon:link {
    text-decoration: none;
}

.search-icon {
    padding-right: 5px;
}

.browse-icon {
    padding-right: 5px;
}

.logo-image {
    font-family: sans-serif;
    font-size: 30px;
    color: #785028;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.4px;
}

.user-icon {
    color:#785028;
    font-size: 20px;
    padding-right: 30px;
}

.shopping-bag {
    padding-right: 10px;
    color: #785028;
    font-size: 20px;
}

.user-dropdown {
    position: absolute;
    top: 20px;
    width: 360px;
    height: 268px;
    right: 0px;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.img-dropdown {
    height: 60px;
    width: 60px;
    margin-top: 20px;
}


.middle-dropdown-text {
    margin-top: 15px;
    text-align: center;
}

.user-links {
    position: relative; 
    margin-right: 25px;
}


.user-logo-link:hover {
    cursor: pointer;
}

.user-dropdown-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.signup-btn {
    background-color: #785028;
    color: #fff;
    padding: 4px 40px;
    font-family: sans-serif;
    margin-left: 5px;
    height: 40px;
    border: 2px solid #785028;
    font-size: 16px;
    cursor: pointer;
}

.login-btn {
    background-color: transparent;
    color: #785028;
    padding: 4px 40px;
    font-family: sans-serif;
    margin-right: 5px;
    height: 40px;
    border: 2px solid #785028;
    font-size: 16px;
    cursor: pointer;
}

.signin-text-dropdown {
    font-family: "Ginto Nord", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    vertical-align: baseline;
    margin-top: 30px;
}

.profile-btn-main {
    width: 100%;
    height: 30%;
}

.profile-btn-main-link {
    text-decoration: none;
}

.profile-btn {
    border: none;
    border-top: 1px #f7f7f7 solid;
    border-bottom: 1px #f7f7f7 solid;
    background-color: white;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.profile-btn-view {
    text-align: left;
}

.profile-name {
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
    color: black;
}

.view-name {
    font-size: 15px;
    color: #785028;
    font-weight: 300;
}

.profile-btn:hover {
    background-color: #f5efe9;
}

.orders-btn-main {
    width: 100%;
    height: 24%;
}

.checklist-icon {
    margin-left: 10px;
    font-size: 25px;
    margin-right: 12px;
    color: #785028;
}

.orders-btn {
    border: none;
    /* border-top: .5px grey solid; */
    border-bottom: 1px #f7f7f7 solid;
    background-color: white;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    text-align: left;
    cursor: pointer;
}

.orders-btn:hover {
    background-color: #f5efe9;
}

.orders-text {
    font-size: 20px;
    color: black;
}

.settings-btn-main {
    width: 100%;
    height: 24%;
}   

.settings-icon {
    margin-left: 10px;
    font-size: 21px;
    margin-right: 10px;
    color: #785028;
}

.settings-btn {
    border: none;
    /* border-top: 1px grey solid; */
    border-bottom: 1px #f7f7f7 solid;
    background-color: white;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    text-align: left;
    cursor: pointer;
}

.settings-btn:hover {
    background-color: #f5efe9;
}

.settings-text {
    font-size: 20px;
    color: black;
}

.logout-button-main {
    width: 100%;
    height: 22%;
}

.logout-button {
    border: none;
    /* border-top: 1px grey solid; */
    border-bottom: 1px white solid;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.signout-text {
    font-size: 20px;
    color: #785028;
}

.exit-btn {
    color: #785028;
    cursor: pointer;
}

.button-cart-icon {
    background-color: white;
    border: none;
    cursor: pointer;
}